* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("./assets/fonts/Merriweather_Sans/MerriweatherSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "popines";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Modern Antiqua";
  src: url("./assets/fonts/Modern_Antiqua/ModernAntiqua-Regular.ttf");
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

#hero-section {
  background: linear-gradient(250deg, #8d287f 0%, #d15445 100%),
    linear-gradient(0deg, #f7b654 0%, #e12654 100%);
}

#firework-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakraImg {
  position: absolute;
  width: 773.21px;
  animation: rotate 40s linear infinite;
}

#chakra1-container {
  position: relative;
  width: calc(773.21 / 2) px;
  width: 466px;
  height: 100%;
  z-index: 0;
}

#chakra1-container img {
  top: 0;
  left: -420px;
}

#hero-content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  z-index: 1;
  color: white;
  font-weight: 700;
}

#hero-content h1 {
  position: relative;
  font-size: 96px;
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Playfair Display", sans-serif;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.35);
}

#hero-content h1 img:first-child {
  width: 157.21px;
  height: 121px;
  margin-left: 24px;
}

#hero-content h1 img.flem {
  width: 45px;
  position: absolute;
  right: 60px;
  top: 4px;
}

#hero-content p {
  font-size: 36px;
  font-family: "Merriweather Sans", sans-serif;
  text-shadow: 3.46px 6.92px 17.29px rgba(0, 0, 0, 0.4);
  width: 90%;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.hero-buttons button {
  font-family: "popines", sans-serif;
  padding: 8px 35px;
  border-radius: 79px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 1px 5px 14px rgba(0, 0, 0, 0.25);
}

.hero-buttons #getBlesBtn {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 1px 5px 14px rgba(0, 0, 0, 0.25), inset 0 0 0 3px #fff;
  color: #fff;
}

#hero-images img {
  position: absolute;
  right: 0;
}

#hero-images img#jhumar {
  top: 0;
  width: 106.51px;
}

#hero-images img#honey {
  top: 330px;
  width: 163.78px;
}

#hero-images img#laddu-1 {
  bottom: 0;
  width: 286px;
  z-index: 1;
}

#hero-images img#laddu-2 {
  z-index: 0;
  bottom: 0;
  width: 260px;
  right: 230px;
}
#hero-images img#deepak-2 {
  bottom: 0;
  width: 213px;
  right: 450px;
}

/* ---------------------------------------------------- */
#blasings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2ddb4;
}

#mandap {
  width: 62%;
  height: 100%;
  background-image: url("./assets/images/mandapa.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mandap img {
  margin-top: 55px;
  width: 70%;
}

#blasings #chakra2-container {
  width: 440px;
}

#chakra2-container img.chakraImg {
  right: -412px;
  top: 0;
}

#thanks-container {
  background: linear-gradient(
      250deg,
      #ffa200 0%,
      #e6c78c 100%,
      #ebbc7b 64%,
      #ed8eaa 100%
    ),
    linear-gradient(0deg, #f9c159 0%, #ffac6c 33%, #fc7d7b 67%, #ed6589 100%);
}

#chakra3-container {
  width: 440px;
}

#chakra3-container img.chakraImg {
  left: -412px;
  top: 0;
}

#thanksText-overlay {
  background: linear-gradient(90deg, #97978b28 0%, #ad0c6a6b 100%);
  width: 80%;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-container {
  width: 90%;
  background: linear-gradient(220deg, #481d6c 0%, #870551 100%);
  border-radius: 12px;
  padding-inline: 25px;
  color: #ffffff;
  padding-bottom: 50px;
  padding-top: 35px;
  position: relative;
}

#text-container img {
  position: absolute;
}

#text-container h1 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 36px;
  margin-bottom: 50px;
}

#text-container p {
  font-family: "Modern Antiqua", sans-serif;
  font-size: 26px;
  margin-top: 20px;
}

#thanksText-overlay #rocket-2 {
  top: -60px;
  left: -85px;
  width: 146.22px;
}

#thanksText-overlay #rocket-1 {
  bottom: -73px;
  right: -20px;
  width: 173.53px;
}
#thanksText-overlay #soan-papadi {
  bottom: -73px;
  right: 100px;
  width: 194px;
}
#thanksText-overlay #gift {
  bottom: -64px;
  right: 280px;
  width: 189.41px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1200px) {
  section:nth-child(odd) {
    flex-direction: column;
  }

  #hero-content {
    height: 100%;
  }

  #chakra1-container {
    width: 100%;
    height: 160px;
    position: relative;
    top: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #chakra1-container img {
    position: static;
    width: 355.38px;
  }

  #hero-content {
    padding-inline: 26px;
    gap: 30px;
  }

  #hero-content h1 {
    margin-top: 0;
    font-size: 50px;
  }

  #hero-content h1 img:first-child {
    width: 79.25px;
    height: 100%;
  }

  #hero-content h1 img.flem {
    width: 26px;
    position: absolute;
    right: 28px;
    top: -1px;
  }

  #hero-content p {
    font-size: 25px;
    width: 100%;
  }

  #hero-images img#jhumar {
    width: 70.23px;
    left: 16px;
    top: 268px;
  }

  #hero-images img#honey {
    width: 152.24px;
    top: 184px;
  }

  #hero-images img#laddu-1 {
    width: 182.74px;
    right: 20px;
  }

  #hero-images img#laddu-2 {
    width: 168.64px;
    right: 155px;
  }
  #hero-images img#deepak-2 {
    width: 122.45px;
    right: 300px;
  }
}

@media screen and (max-width: 964px) {
  #hero-images img#jhumar {
    width: 58.23px;
  }
}

@media screen and (max-width: 696px) {
  #hero-content h1 {
    font-size: 42px;
  }

  #hero-content p {
    font-size: 20px;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .hero-buttons button {
    padding: 5px 26px;
    border-radius: 79px;
    font-size: 18px;
  }

  #hero-images img#jhumar {
    top: 282px;
  }
}

@media screen and (max-width: 550px) {
  #hero-content {
    gap: 15px;
  }

  #hero-images img#jhumar {
    top: 277px;
    z-index: 1;
  }

  #hero-images img#honey {
    width: 132.24px;
    top: 210px;
  }
  #hero-images img#deepak-2 {
    width: 122.45px;
    right: 300px;
  }
}

@media screen and (max-width: 420px) {
  #hero-content h1 {
    font-size: 35px;
  }
  #hero-content p {
    font-size: 17px;
  }

  #hero-images img#jhumar {
    top: 265px;
    z-index: 1;
  }

  #hero-images img#honey {
    width: 152.24px;
    top: 184px;
  }

  #hero-images img#laddu-1 {
    width: 182.74px;
    right: 0;
  }

  #hero-images img#laddu-2 {
    width: 168.64px;
    right: 130px;
  }
  #hero-images img#deepak-2 {
    width: 122.45px;
    right: 270px;
  }
}

@media screen and (max-width: 370px) {
  #hero-content h1 {
    font-size: 28px;
  }
  #hero-images img#laddu-1 {
    width: 150.64px;
  }
  #hero-images img#laddu-2 {
    right: 103px;
  }

  #hero-images img#deepak-2 {
    right: 240px;
  }
}
@media screen and (max-width: 360px) {
  #hero-images img#jhumar {
    top: 288px;
    z-index: 0;
  }
}
